<!DOCTYPE html>
<% include header.html %>
<body class="text-center">
    <% if (login) { %>
        <form class="form-signin" action="<% server_url %>/get_grades" method="POST">
            <h1 class="h3 mb-3 font-weight-normal">北邮教务成绩查询</h1>
            <% if (message) { %><p class="message"><%=message%></p><% } %>
            <img data-toggle="tooltip" data-placement="left" title="点击更换验证码" onclick="location.href='<% server_url %>'" class="validate" src="./vc/validate_code_<%=random_id%>.jpg">
            <input type="text" class="form-control" id="validate_code" name="validate_code" value="<%=ocr%>">
            <div class="checkbox mb-3" style="margin-top:17px;">
                <label>
                    <input type="radio" value="current" name="method" checked="checked">&nbsp;当前学期成绩&nbsp;
                    <input type="radio" value="all" name="method">&nbsp;所有学期成绩
                </label>
            </div>
            <input class="btn btn-lg btn-primary btn-block" type="submit" value="查询">
            <input onclick="location.href='<% server_url %>/sign_out'" class="btn btn-lg btn-primary btn-block" value="注销">
            <% include footer.html %>
        </form>
        <script>
            setTimeout("location.reload(true);", 6000000);
        </script>
    <% } else { %>
        <form class="form-signin" action="<% server_url %>/sign_in" method="POST">
            <h1 class="h3 mb-3 font-weight-normal">北邮教务成绩查询</h1>
            <% if (message) { %><p class="message"><%=message%></p><% } %>
            <label for="jwxt_id" class="sr-only">教务系统学号</label>
            <input id="jwxt_id" type="text" name="id" class="form-control" placeholder="教务系统学号" required autofocus>
            <label for="jwxt_password" class="sr-only">教务系统密码</label>
            <input id="jwxt_password" type="password" name="password" class="form-control" placeholder="教务系统密码" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
            <% include footer.html %>
        </form>
    <% } %>
</body>
</html>